!!!
%html
  %head
    %title= yield(:html_title)
    %meta= yield(:html_meta)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    = render 'layouts/menu/menu_wrapper'
    = yield
    =raw MyConfig.get_config('metrika')